/* Vars and Mixins
***************************/

@white: rgba(255, 255, 255, 1.0);
@black: rgba(0, 0, 0, 1.0);
@green: rgba(184, 255, 82, 1.0);

.fontset {
  font-family: Abel, Helvetica, Arial, sans-serif;
}

.modal {
  .brdr(1px);
  .shdw(0px, 0px, 10px, rgba(0, 0, 0, .4));
  position: absolute;
  top: 50%;
  left: 50%;
  color: @white;
  background: rgba(55, 55, 55, 1.0);
  padding: 20px;
}

.button {
  .brdr(3px);
  display: block;
  height: 36px;
  line-height: 36px;
  color: @white;
  background: rgba(20, 20, 20, 1.0);
  text-decoration: none;
  text-align: center;
}

.shdw (@x, @y, @blur, @color) {
          box-shadow: @x @y @blur @color;
     -moz-box-shadow: @x @y @blur @color;
  -webkit-box-shadow: @x @y @blur @color;
}

.textshdw (@x, @y, @blur, @color) {
          text-shadow: @x @y @blur @color;
     -moz-text-shadow: @x @y @blur @color;
  -webkit-text-shadow: @x @y @blur @color;
}

.brdr (@x) {
          border-radius: @x;
     -moz-border-radius: @x;
  -webkit-border-radius: @x;
}

.brdrrgt (@x) {
             border-top-right-radius: @x;
         -moz-border-radius-topright: @x;
     -webkit-border-top-right-radius: @x;
          border-bottom-right-radius: @x;
      -moz-border-radius-bottomright: @x;
  -webkit-border-bottom-right-radius: @x;
}

.brdrlft (@x) {
             border-top-left-radius: @x;
         -moz-border-radius-topleft: @x;
     -webkit-border-top-left-radius: @x;
          border-bottom-left-radius: @x;
      -moz-border-radius-bottomleft: @x;
  -webkit-border-bottom-left-radius: @x;
}

.bgrad (@start, @end) {
  background-color: @start;
  background-image:      -o-linear-gradient(top, @start, @end);
  background-image:     -ms-linear-gradient(top, @start, @end);
  background-image:    -moz-linear-gradient(top, @start, @end);
  background-image: -webkit-linear-gradient(top, @start, @end);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@start), to(@end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@start', endColorstr='@end');
}

.pseudoelem {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cf { /* from: http://nicolasgallagher.com/micro-clearfix-hack/ */

  &:before,
  &:after {
      content:"";
      display:table;
  }
  &:after {
      clear:both;
  }
  zoom:1 ;
}

/* Styles
***************************/

body {
  .fontset;
  font-size: 18px;
  overflow: hidden;
  background: rgba(14, 14, 14, 1.0) url(/media/art/starscape.png) 0 0 repeat;
  -webkit-animation-name: movestarsa;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: movestarsa;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes movestarsa {
  from { background-position: 0 0; }
  to { background-position: 500px 0; }
}

@-moz-keyframes movestarsa {
  from { background-position: 0 0; }
  to { background-position: 500px 0; }
}

.main {
  background: transparent url(/media/art/starscape2.png) 0 0 repeat;
  -webkit-animation-name: movestarsb;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: movestarsb;
  -moz-animation-duration: 60s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes movestarsb {
  from { background-position: 0 0; }
  to { background-position: 500px 0; }
}

@-moz-keyframes movestarsb {
  from { background-position: 0 0; }
  to { background-position: 500px 0; }
}

input[type=text] {
  .fontset;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 5px;
}

a {
  color: @white;
  text-decoration: underline;
}

::-webkit-scrollbar { 
    display: none; 
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.errors {
  position: fixed;
  top: 15px;
  left: 15px;
  color: red;
}

.chat-log {
  .brdr(1px);
  .textshdw(0px, 0px, 5px, rgba(255, 255, 255, .75));
  position: absolute;
  right: 30px;
  bottom: 100px;
  width: 300px;
  height: 500px;
  background: rgba(0, 0, 0, .6);

  .chat-log-inner {
    position: absolute;
    bottom: 0;
  }
  
  .chats-wrapper {
    overflow: scroll;
    max-height: 435px;
    width: 300px;
    padding: 10px;
    color: @white;
  }

  .chat-log-input {
    width: 278px;
    padding: 10px;
    border: none;
    margin: 0;
    background: rgba(255, 255, 255, .08);
    color: @white;
    font-size: 18px;
  }
}

.hover-chat-input {
  position: absolute;
  height: 100px;
  width: 200px;
  color: lightblue;
  background: transparent;
}

.controls-overlay {
  background: rgba(0, 0, 0, .6);
  .textshdw(0px, 0px, 5px, rgba(255, 255, 255, .75));
  height: 40px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  color: @white;

  .controls-overlay-inner {
    .cf;
    width: 930px;
    margin: 0 auto;

    div {
      float: left;
      margin: 10px 10px 10px 0;
      height: 20px;
      line-height: 20px;

      &:first-of-type {
        margin-left: 10px;
      }
    }

    .key {
      .brdr(3px);
      .shdw(0px, 0px, 5px, rgba(255, 255, 255, .75));
      width: 20px;
      border: 1px solid @white;
      font-size: 9px;
      text-align: center;

      &.space {
        width: 80px;
      }
    }

    .mapping {
      font-size: 18px;
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 400px;
  height: 250px;
}

.social {
  position: absolute;
  bottom: 100px;
  left: 30px;

  .divider {
    height: 5px;
  }
}

.kill-message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 100px;
  margin: -50px -500px;
  color: rgba(255, 0, 0, 1.0);
  .textshdw(0px, 0px, 20px, rgba(255, 0, 0, .75));
  font-size: 64px;
  text-align: center;
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 100px;
  margin: -50px -500px;
  color: rgba(0, 255, 0, 1.0);
  .textshdw(0px, 0px, 20px, rgba(255, 0, 0, .75));
  font-size: 64px;
  text-align: center;
}

.world {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lobby {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .2);
}

.login-form {
  .modal;
  width: 230px;
  height: 90px;
  margin: -45px -115px;

  h2 {
    padding-left: 5px;
    margin-bottom: 10px;
  }

  .username {
    .brdrlft(1px);
    float: left;
    padding: 0 10px;
    margin-right: 0;
    height: 36px;
    line-height: 36px;
    border: none;
    background: rgba(255, 255, 255, .1);
    font-size: 18px;
    outline: 0;
    color: @white;
  }

  .login {
    .button;
    .brdrrgt(1px);
    float: left;
    width: 36px;
  }
}

.actions {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 100px;

  a {
    display: block;
    .brdr(30px);
    width: 30px;
    height: 30px;
    border: 3px solid rgba(100, 100, 100, 1.0);
    .shdw(0px, 0px, 5px, rgba(100, 100, 100, .75));
    margin-bottom: 20px;

    &.sound.on {
      background: transparent url(/media/art/icon-sound-on.png) 50% 50% no-repeat
    }

    &.sound.off {
      background: transparent url(/media/art/icon-sound-off.png) 50% 50% no-repeat
    }

    &.about {
      background: transparent url(/media/art/icon-info.png) 50% 50% no-repeat
    }
  }
}

.recap {
  display: none;
  .modal;
  width: 300px;
  height: 410px;
  margin: -205px -150px;

  h2 {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding-bottom: 10px;
  }

  .row {
    .cf;
    font-size: 24px;
    padding-bottom: 20px;

    .label {
      float: left;
      width: 80px;
    }

    .value {
      float: left;
      width: 220px;
      text-align: right;
    }
  }

  .respawn {
    .button;
  }
}

.about-us {
  display: none;
  .modal;
  width: 400px;
  height: 530px;
  margin: -265px -200px;

  h2 {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding-bottom: 10px;
  }


  .close {
    .button;
  }
}

.stats {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 1000px;
  height: 100px;
  margin: 0 -500px;
  color: @white;
  .textshdw(0px, 0px, 5px, rgba(255, 255, 255, .75));
  font-size: 24px;
  text-align: center;

  .stat { 
    display: inline;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

