/* Vars and Mixins
***************************/

@white: rgba(255, 255, 255, 1.0);
@black: rgba(0, 0, 0, 1.0);
@green: rgba(184, 255, 82, 1.0);

.fontset {
  font-family: Abel, Helvetica, Arial, sans-serif;
}

.shdw (@x, @y, @blur, @color) {
          box-shadow: @x @y @blur @color;
     -moz-box-shadow: @x @y @blur @color;
  -webkit-box-shadow: @x @y @blur @color;
}

.textshdw (@x, @y, @blur, @color) {
          text-shadow: @x @y @blur @color;
     -moz-text-shadow: @x @y @blur @color;
  -webkit-text-shadow: @x @y @blur @color;
}

.brdr (@x) {
          border-radius: @x;
     -moz-border-radius: @x;
  -webkit-border-radius: @x;
}

.brdrrgt (@x) {
             border-top-right-radius: @x;
         -moz-border-radius-topright: @x;
     -webkit-border-top-right-radius: @x;
          border-bottom-right-radius: @x;
      -moz-border-radius-bottomright: @x;
  -webkit-border-bottom-right-radius: @x;
}

.brdrlft (@x) {
             border-top-left-radius: @x;
         -moz-border-radius-topleft: @x;
     -webkit-border-top-left-radius: @x;
          border-bottom-left-radius: @x;
      -moz-border-radius-bottomleft: @x;
  -webkit-border-bottom-left-radius: @x;
}

/* Styles
***************************/

body {
  .fontset;
  font-size: 18px;
}

input[type=text] {
  .fontset;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.errors {
  position: fixed;
  top: 15px;
  left: 15px;
  color: red;
}

.chat-log {
  .brdr(1px);
  .textshdw(0px, 0px, 5px, rgba(255, 255, 255, .75));
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 300px;
  height: 500px;
  background: rgba(0, 0, 0, .6);

  .chat-log-inner {
    position: absolute;
    bottom: 0;
  }
  
  .chats-wrapper {
    overflow: scroll;
    max-height: 435px;
    width: 300px;
    padding: 10px;
    color: @white;
  }

  .chat-log-input {
    width: 278px;
    padding: 10px;
    border: none;
    margin: 0;
    background: rgba(255, 255, 255, .08);
    color: @white;
    font-size: 18px;
  }
}

.hover-chat-input {
  position: absolute;
  height: 100px;
  width: 200px;
  color: lightblue;
  background: transparent;
}

.vote-button {
  position: absolute;
  top: 15px;
  left: 15px;
}

.world {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.lobby {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .2);
}

.login-form {
  .brdr(1px);
  .shdw(0px, 0px, 10px, rgba(0, 0, 0, .4));
  width: 230px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px -150px;
  padding: 20px;
  color: @white;
  background: rgba(55, 55, 55, 1.0);
  font-size: 24px;

  div {
    padding-left: 5px;
    margin-bottom: 10px;
  }

  .username {
    .brdrlft(1px);
    float: left;
    padding: 0 10px;
    margin-right: 0;
    height: 36px;
    line-height: 36px;
    border: none;
    background: rgba(255, 255, 255, .1);
    font-size: 18px;
    outline: 0;
    color: @white;
  }

  .login {
    .brdrrgt(1px);
    float: left;
    width: 36px;
    height: 36px;
    line-height: 32px;
    color: @white;
    background: rgba(20, 20, 20, 1.0);
    text-decoration: none;
    text-align: center;
  }
}

::-webkit-scrollbar { 
    display: none; 
}