<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Game</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet/less" href="/media/styles/normalize.css">
	<link rel="stylesheet/less" href="/media/styles/style.less">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel">
  <script src="/media/scripts/lib/less-1.3.1.min.js" type="text/javascript"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/media/images/favicon.ico">

</head>
<body>
  <div class="main">
    Hello World!
  </div>
	<!-- Templates
  =================================================== -->

  <script id="app-template" type="text/html">
    <div class="world"></div>
    <div class="errors"></div>
    <div class="chat-log"></div>
  </script>
  
  <script id="world-template" type="text/html">
    <canvas id="c"></canvas>
  </script>

  <script id="lobby-template" type="text/html">
    <div class="login-form">
      <h2>Name Your Mech</h2>
      <input class="username" type="text" placeholder="username" value="user{{ Math.floor(Math.random() * 100) }}"/><a href="#" class="login">&rsaquo;&rsaquo;</a>
    </div>
  </script>

  <script id="chat-log-template" type="text/html">
    <div class="chat-log-inner">
      <div class="chats-wrapper">
        <div class="chats"></div>
      </div>
      <input class="chat-log-input" type="text" placeholder="type here or press enter to chat" />
      <!-- <a href="#" class="submit-chat">chat</a> -->
    </div>
  </script>

  <script id="chat-template" type="text/html">
    {{ username }} : {{ msg }}
  </script>

  <script id="stats-template" type="text/html">
    <div class="stat kills">Kills: {{ kills }}</div>
    <div class="stat deaths">Deaths: {{ deaths }}</div>
    <div class="stat suicides">Suicides: {{ suicides }}</div>
    <div class="stat misses">Misses: {{ misses }}</div>
  </script>

  <div class="social">
    <iframe class="vote-button" src="http://nodeknockout.com/iframe/somethingcoded" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
    <div class="divider"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.disasteroids.com" data-text="Come and join me for a game of Disasteroids! cc @node_knockout #nodejs">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div class="divider"></div>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.disasteroids.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21&amp;appId=243470959023380" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
    <div class="divider"></div>
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120" data-href="www.disasteroids.com"></div>
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>

  <div class="recap">
    <h2>Recap</h2>
    <div class="row">
      <div class="label">Kills</div>
      <div class="value">12</div>
    </div>
    <div class="row">
      <div class="label">Deaths</div>
      <div class="value">3</div>
    </div>
    <div class="row">
      <div class="label">Suicides</div>
      <div class="value">1</div>
    </div>
    <div class="row">
      <div class="label">Hits</div>
      <div class="value">12</div>
    </div>
    <div class="row">
      <div class="label">Misses</div>
      <div class="value">74</div>
    </div>
    <div class="row">
      <div class="label">Accuracy</div>
      <div class="value">16%</div>
    </div>
    <a href="#" class="respawn">Respawn! GOGOGO!!1!one</a>
  </div>

  <div class="controls-overlay">
    <div class="controls-overlay-inner">
      <div class="key">A</div>
      <div class="key">D</div>
      <div class="mapping">Walk</div>
      <div class="key">W</div>
      <div class="mapping">Jump</div>
      <div class="key space">Space</div>
      <div class="mapping">Shoot</div>
      <div class="key">&#9668;</div>
      <div class="key">&#9658;</div>
      <div class="mapping">Aim</div>
      <div class="key">&#9650;</div>
      <div class="key">&#9660;</div>
      <div class="mapping">Adjust Power</div>
    </div>
  </div>

  <!-- JS
  ================================================== -->
  <script>
      jsonVars = {};
  </script>
   

  <!-- Libraries -->
  <script src="/media/scripts/lib/jquery-1.8.2.min.js"></script>
  <script src="/media/scripts/lib/underscore-min.js"></script>
  <script src="/media/scripts/lib/backbone-min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/media/scripts/lib/bonsai-0.4.1.min.js"></script>
  <script src="/media/scripts/lib/fabric.js"></script>
  <script src="/media/styles/cufon.abel.js"></script>

  <!-- Particles -->
  <script src="/media/scripts/lib/particles/Vector.js"></script>
  <script src="/media/scripts/lib/particles/Particle.js"></script>
  <script src="/media/scripts/lib/particles/Emitter.js"></script>
  <script src="/media/scripts/lib/particles/Field.js"></script>
  <script src="/media/scripts/lib/particles/ParticleSystem.js"></script>
  <script src="/media/scripts/lib/particles/Display.js"></script>


  <!-- Config -->
  <script src="/media/scripts/conf.js"></script>

  <!-- Routers -->
  <script src="/media/scripts/mvc/routers/router.js"></script>
    
    
  <!-- Models -->
  <script src="/media/scripts/mvc/models/app.js"></script>
  <script src="/media/scripts/mvc/models/world.js"></script>
  <script src="/media/scripts/mvc/models/lobby.js"></script>
  <script src="/media/scripts/mvc/models/chat.js"></script>
  <script src="/media/scripts/mvc/models/chat_log.js"></script>
  <script src="/media/scripts/mvc/models/asteroid.js"></script>
  <script src="/media/scripts/mvc/models/missile.js"></script>
  <script src="/media/scripts/mvc/models/player.js"></script>

  <!-- Collections -->
  <script src="/media/scripts/mvc/collections/chats.js"></script>
  <script src="/media/scripts/mvc/collections/asteroids.js"></script>
  <script src="/media/scripts/mvc/collections/missiles.js"></script>
  <script src="/media/scripts/mvc/collections/players.js"></script>

  <!-- Views -->
  <script src="/media/scripts/mvc/views/app_view.js"></script>
  <script src="/media/scripts/mvc/views/world_view.js"></script>
  <script src="/media/scripts/mvc/views/lobby_view.js"></script>
  <script src="/media/scripts/mvc/views/chat_view.js"></script>
  <script src="/media/scripts/mvc/views/chat_log_view.js"></script>
  <script src="/media/scripts/mvc/views/asteroid_view.js"></script>
  <script src="/media/scripts/mvc/views/missile_view.js"></script>
  <script src="/media/scripts/mvc/views/player_view.js"></script>
  <script src="/media/scripts/mvc/views/stats_view.js"></script>

  <!-- Misc -->
  <script src="/media/scripts/init.js"></script>

  <!-- External -->
    
</body>
</html>
